{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="content">
        <form>
            <div class="inline text-left" title="Показывать результатов на странице">
                <label for="rowsPerPage">Показывать по</label>
                <select id="rowsPerPage" name="rowsPerPage">
                    <option value="2" {{ app.request.get('rowsPerPage') == 2 ? 'selected' : '' }}>2</option>
                    <option value="25" {{ app.request.get('rowsPerPage') == 25 ? 'selected' : '' }}>25</option>
                    <option value="50" {{ app.request.get('rowsPerPage') == 50 ? 'selected' : '' }}>50</option>
                    <option value="100" {{ app.request.get('rowsPerPage') == 100 ? 'selected' : '' }}>100</option>
                </select>
            </div>
            <div class="inline pull-right">
                <label for="quickSearch">Поиск:</label>
                <input id="quickSearch" name="quickSearch" type="text"
                       value="{{ app.request.get('quickSearch') ?? '' }}">
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="panel panel-default">
                        <table id="itemsTable" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                            <tr role="row">
                                <th class="order_{{ app.request.get('order_col')=='id' ? app.request.get('order_type') : '' }}"
                                    data-col="id">
                                    ID
                                </th>
                                <th class="order_{{ app.request.get('order_col')=='email' ? app.request.get('order_type') : '' }}"
                                    data-col="email">
                                    {{ 'E-mail'|trans }}
                                </th>
                                <th class="order_{{ app.request.get('order_col')=='username' ? app.request.get('order_type') : '' }}"
                                    data-col="username">
                                    {{ 'Username'|trans }}
                                </th>
                                <th class="order_{{ app.request.get('order_col')=='phone' ? app.request.get('order_type') : '' }}"
                                    data-col="phone">
                                    {{ 'Phone'|trans }}
                                </th>
                                <th tabindex="0">
                                    Компания
                                </th>
                                <th class="" tabindex="0" aria-controls="example1" rowspan="1" data-col="count">
                                    Регион
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr role="row" class="odd">
                                    <td>{{ user.id }}</td>
                                    <td>
                                        <a href="">
                                            {{ user.email }}
                                        </a>
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td></td>
                                    <td>{{ user.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        Показано записей: <b>{{ users.onpage }}</b> из <b>{{ users|length }}</b>
                    </div>
                    <div class="col-md-7 text-right">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            {% if users.maxPages > 1 %}
                                <ul class="pagination pagination-sm">
                                    {# `«` arrow  #}
                                    <li {{ users.page == 1 ? 'class="disabled"' }}>
                                        <a href="{{ path('admin_user_list',  app.request.query|merge({page: users.page-1 < 1 ? 1 : users.page-1})) }}">«</a>
                                    </li>

                                    {# Render each page number #}
                                    {% for i in 1..users.maxPages %}
                                        <li {{ users.page == i ? 'class="active"' }}>
                                            <a href="{{ path('admin_user_list', app.request.query|merge({page: i})) }}">{{ i }}</a>
                                        </li>
                                    {% endfor %}

                                    {# `»` arrow #}
                                    <li {{ users.page == users.maxPages ? 'class="disabled"' }}>
                                        <a href="{{ path('admin_user_list', app.request.query|merge({page: users.page+1 <= users.maxPages ? users.page+1 : users.page})) }}">»</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jstree/dist/jstree.js') }}"></script>
{% endblock %}
