{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="nav-tabs-custom">
        <div class="tab-content">
            <div class="page_description">
            </div>
            <div class="form">
                {{ form_start(form, {'attr': {'enctype': 'multipart/form-data','class': 'form-horizontal'}}) }}
                <input type="hidden" name="user_id" value="">

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.email) }}*
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.email) }}
                        <div class="alert-error">{{ form_errors(form.email) }}</div>
                        {{ form_help(form.email) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.username) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.username) }}
                        <div class="alert-error">{{ form_errors(form.username) }}</div>
                        {{ form_help(form.username) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.phone) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.phone) }}
                        <div class="alert-error">{{ form_errors(form.phone) }}</div>
                        {{ form_help(form.phone) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.plainPassword.first) }}*
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.first) }}
                        <div class="alert-error">{{ form_errors(form.plainPassword.first) }}</div>
                        {{ form_help(form.plainPassword.first) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.plainPassword.second) }}*
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.second) }}
                        <div class="alert-error">{{ form_errors(form.plainPassword.second) }}</div>
                        {{ form_help(form.plainPassword.second) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.status) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.status) }}
                        <div class="alert-error">{{ form_errors(form.status) }}</div>
                        {{ form_help(form.status) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" role="button">{{ 'Save'|trans }}</button>
                    <a href="{{ path('adminUserList') }}" class="btn btn-default" role="button">{{ 'Cancel'|trans }}</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}